* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, minmax(1fr, auto));
    column-gap: 1px;
    row-gap: 1px;
    background-color: #373F51;
}

.app button {
    height: 80px;
    font-size: 24px;
    border: none;
    background-color: #1B1B1E;
    cursor: pointer;
    color: #D8DBE2;
}

.app button:hover {
    background-color: #2380BE;
}

.app button.operand {
    background-color: #58A4B0;
    color: #ffffff;
}

.app .display {
    grid-column: 1 / -1;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-direction: column;
    height: 106px;
    padding: 12px;
    font-size: 48px;
    background-color: #ffffff;
}

.app .display::-webkit-scrollbar {
    /* display: none; */
}

.app .display .previous-operand {
    font-size: 24px;
}

.span-2 {
    grid-column: span 2;
}